* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

@font-face {
    font-family: Red Hat Text;
    src: url("../fonts/RedHatText-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: Aleo;
    src: url("../fonts/Aleo-Regular.ttf");
    font-weight: normal;
}

@font-face {

    font-family: Red Hat Text-Semibold;
    src: url("../fonts/RedHatText-Semibold.ttf");
    font-weight: 500;
}

@font-face {
    font-family: Magra;
    src: url("../fonts/Magra-Regular.ttf");
}

@font-face {
    font-family: Magra-Bold;
    src: url("../fonts/Magra-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: Aleo;
    src: url("../fonts/Aleo-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: Aleo-italic;
    src: url("../fonts/Aleo-Bolditalic.ttf");
    font-weight: bold;
}

@font-face {
    font-family: Aleo-italic;
    src: url("../fonts/Aleo-italic.ttf");
    font-weight: normal;
}

body {
    font-family: Red Hat Text, sans-serif;
    max-width: 100%;
}

.header {
    width: 100%;
    background-color: rgba(242, 120, 92, 0.7);
    box-shadow: 0 0.225rem 0.45rem rgba(13, 96, 111, 0.7);
    padding: 1.563rem 0 1.563rem 0;
}

.wallpaper12 {
    display: flex;
    flex-direction: column;
}

.header .container {
    display: flex;
    align-items: center;
}

.logo img {
    vertical-align: bottom;
}

.logo {
    margin-left: 7.5rem;
}

.menu {
    margin-left: 9.875rem;

}

.logo-text {
    margin-left: 0.375rem;
    color: #FFF;
    font-size: 2rem;
    font-family: Magra-Bold, sans-serif;
    font-weight: bold;
}

.menu ul {
    list-style: none;
    display: flex;
}
.menu {
    height: auto;
    width: auto;
}
.menu-item {
    padding: 0 0 0 2.55rem;
    font-family: Red Hat Text-Semibold, sans-serif;
    /*margin-right: 2.625rem;*/
    font-weight: 500;

}

.menu-item a {
    color: #FFF;
    font-size: 1rem;
    text-decoration: none;

}

.menu-item a:hover {
    border-bottom: 0.125rem solid white;
}

.button-Menu {

    background-color: #0D606F;
    width: 6.438rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.625rem;

}

.button-Menu-Text {
    color: #FFF;
    font-size: 1rem;
    padding: 0.625rem;
    background: #0D606F;
    border: 0;
    border-radius: 0.625rem;
    width: 6.438rem;
    margin-left: 15.15rem;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 0.125rem 0.188rem 0 rgba(13, 96, 111, 0.16), 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
    transition: background-color .5s;
}

.button-Menu-Text:hover {
    cursor: pointer;
    background: #575757;
}

.button-in-placeholder {
    margin-left: 8.6rem;
    font-family: Red Hat Text-Semibold, sans-serif;
    font-weight: 500;
    color: #FFF;
    font-size: 1.5rem;
    padding: 0.625rem;
    background: #0D606F;
    border: 0;
    border-radius: 0.625rem;
    width: 14.25rem;
    height: 3.688rem;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 0.125rem 0.188rem 0 rgba(13, 96, 111, 0.16), 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
    transition: background-color .5s;
    position: relative;
    top: -2.1rem;
}

.button-in-placeholder:hover {
    cursor: pointer;
    background: #575757;
}

.wallpaper12 {
    display: flex;
    align-items: center;
    background: url("../images/wallpaper12sector.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 46.5rem;
    max-height: 46.5rem;
    margin-bottom: 5rem;
}

.main-title {
    position: relative;
    margin-left: -31.8rem;
    color: #FFF;
    font-family: Aleo, sans-serif;
    font-size: 5rem;
    font-weight: bold;
    line-height: normal;
    max-width: 55rem;
}

.main-info {

    max-width: 55.75rem;
    margin-top: 2rem;
}

.main-text {
    position: relative;
    margin-left: -31.7rem;
    top: 1.625rem;
    color: #FFF;
    font-family: Aleo-italic, sans-serif;
    font-size: 1.25rem;
    font-style: italic;
    font-weight: bold;
    line-height: normal;
}

.rectangle {
    position: relative;
    left: 0;
    top: 4.5rem;
    margin-left: -31.7rem;
    width: 55.75rem;
    height: 5.938rem;
    flex-shrink: 0;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.70);
}
.text-in-placeholder {
    position: relative;
    margin-left: -29.563rem;
    top: 0.7rem;
    color: #F2785C;
    font-family: Aleo-italic, sans-serif;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: normal;
    line-height: normal;
}

.steps-container {
    width: 100%;
    max-width: 73.563rem;
    height: 15.438rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.875rem;
    margin: 0 auto;
}
.main {
    margin-left: 7.5rem;
}
.steps {
    margin-bottom: 6.063rem;
}
.icon-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6.25rem;
}

.icon-and-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon-and-text2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon1 {
    margin-left: 1.875rem;
    width: 6.25rem;
    height: 6.25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.icon3 {

    margin-left: 2rem;
    width: 6.25rem;
    height: 6.25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.icon2 {
    margin-left: 4.063rem;
    width: 6.25rem;
    height: 6.25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.text-under-icon1 {
    margin-left: 1.063rem;
    margin-top: 1.875rem;
    color: #0D606F;
    font-size: 1.25rem;
    font-family: Aleo,sans-serif;
    font-weight: normal;
    word-wrap: break-word;
    text-align: center;

}
.text-under-icon3 {
    margin-top: 1.875rem;
    color: #0D606F;
    font-size: 1.25rem;
    font-family: Aleo,sans-serif;
    font-weight: normal;
    word-wrap: break-word;
    text-align: center;

}
.text-under-icon2 {
    margin-left: 3.563rem;
    margin-top: 1.875rem;
    color: #0D606F;
    font-size: 1.25rem;
    font-family: Aleo,sans-serif;
    font-weight: normal;
    word-wrap: break-word;
    text-align: center;

}

.second-header{
    color: #F2785C;
    font-size: 2.5rem;
    font-family: Red Hat Text-Semibold,sans-serif;
    font-weight: normal;
    word-wrap: break-word;
    text-align: center;
    margin-bottom: 2.875rem;
}

h2 {
    color: #F2785C;
    font-size: 2.5rem;
    font-family: Red Hat Text-Semibold,sans-serif;
    font-weight: normal;
    word-wrap: break-word;
    text-align: center;
    margin: 0;
}

.carousel {
    width: 100%;
    margin: 0 auto;
    border-radius: 1rem;
    background: #FFFFFF;
}

.carousel-cell {
    width: 50rem;
    margin-right: 3.75rem;
}
.image{
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
}

.city-caption {
    width: 6.75rem;
    height: 2.625rem;
    color: #FFFF;
    font-family: Red Hat Text-Semibold, sans-serif;
    font-size: 2rem;
    font-weight: normal;
    position: relative;
    bottom: 2.75rem;
    left: 1rem;
    border-radius: 0.313rem;

}


.arrow-right {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.625rem;
}

.button-in-placeholder-with-arrow {
    box-sizing: border-box;
    text-align: center;
    font-family: Red Hat Text-Semibold, sans-serif;
    font-weight: normal;
    color: #FFF;
    font-size: 1.5rem;
    display: flex;
    background: #0D606F;
    border: 0;
    border-radius: 0.625rem;
    box-shadow: 0 0.125rem 0.188rem 0 rgba(13, 96, 111, 0.16), 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
    transition: background-color .5s;
    margin: 6.063rem auto 5rem auto;
    height: 3.688rem;
    width: 14.25rem;
    padding: 0.625rem 0.625rem 0.625rem 2rem;
}
.text-in-button-arrow {
    height: 2rem;
    width: 7.25rem;
    margin-top: 0.188rem;
}
.button-in-placeholder-with-arrow:hover {
    cursor: pointer;
    background: #575757;
}

.travel-stories-background-image {
    background: url("../images/travel-stories-image.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 83.188rem;
    width: 100%;
    color: rgba(0, 0, 0, 0.5%);
    margin-top: 2.5rem;
    position: absolute;
    z-index: 1;
}

.travel-stories-background-image-blank {
    position: absolute;
    margin-top: 100rem;
    height: 79.438rem;
    width: 100%;
    background: rgba(255, 255, 255, 0.70);
    z-index: 2;
}
.story-image {
    border-radius: 1rem;
    margin-left: 7.5rem;
    box-shadow: 0 0.25rem 0.25rem #0D606F;
}

.story-image-container {
    list-style-type: none;
    margin-top: 2.5rem;
}
.story-image-container li {
    padding-bottom: 1.875rem;
}

.travel-stories-background-image-blank {
    top: 52.6rem;
    left: 0;
    position: absolute;
    display: flex;
}

.title-of-story1 {
    font-family: Aleo, sans-serif;
    margin-top: 2.5rem;
    margin-left: 2.5rem;
    margin-bottom: 1.5rem;
    color: #0D606F;
    font-size: 2.188rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.story1-text {
    width: 48rem;
    margin-left: 2.5rem;
    margin-right: 7.5rem;
    color: #0D606F;
    font-family: Aleo, sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.read-more {
    color: #0D606F;
    font-family: Aleo, sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration-line: underline;
}

.title-of-story2 {
    font-family: Aleo, sans-serif;
    margin-top: 3.125rem;
    margin-left: 2.5rem;
    margin-bottom: 1.5rem;
    color: #0D606F;
    font-size: 2.188rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.story2-text {
    width: 48rem;
    margin-left: 2.5rem;
    margin-right: 7.5rem;
    color: #0D606F;
    font-family: Aleo, sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.title-of-story3 {
    font-family: Aleo, sans-serif;
    margin-top: 3.125rem;
    margin-left: 2.5rem;
    margin-bottom: 1.5rem;
    color: #0D606F;
    font-size: 2.188rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.story3-text {
    width: 48rem;
    margin-left: 2.5rem;
    margin-right: 7.5rem;
    color: #0D606F;
    font-family: Aleo, sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.title-of-story4 {
    font-family: Aleo, sans-serif;
    margin-top: 3.125rem;
    margin-left: 2.5rem;
    margin-bottom: 1.5rem;
    color: #0D606F;
    font-size: 2.188rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.story4-text {
    width: 48rem;
    margin-left: 2.5rem;
    margin-right: 7.5rem;
    color: #0D606F;
    font-family: Aleo, sans-serif;
    font-size: 1.25rem;
    font-weight: normal;
    padding-bottom: 1.875rem;
}

.button-after-stories-container {
    position: relative;
    margin-top: 67.5rem;
    margin-left: 15rem;
}
.button-in-placeholder-with-arrow span {
    margin-top: 0.188rem;
}
.button-in-placeholder-with-arrow {
    max-width: 14.25rem;
    max-height: 3.688rem;
}
.travel-stories-background-image footer {
    position: relative;
    top: 79.375rem;
    color: white; /* Пример цвета текста для футера */
    display: flex;
    justify-content: space-between;
}

.footer-icon-list  {
    display: flex;
    vertical-align: center;
    list-style-type: none;
}

.icon-list {
    padding-right: 1.25rem;
    margin-top: 0.875rem;
}


.rights-reserved {

    display: flex;
    font-family: Red Hat Text, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    margin-left: 39.8rem;
    margin-top: 1.25rem;


}
.button-after-stories-container {
    position: absolute;
    left: 25rem;
    top: 0;
    display: flex;

}
.button-after-stories {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: Red Hat Text-Semibold, sans-serif;
    font-weight: normal;
    color: #FFF;
    font-size: 1.5rem;
    display: flex;
    background: #0D606F;
    border: 0;
    border-radius: 0.625rem;
    box-shadow: 0 0.125rem 0.188rem 0 rgba(13, 96, 111, 0.16), 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
    transition: background-color .5s;
    margin: 6.063rem auto 6rem auto;
    height: 3.688rem;
    width: 15rem;
    padding: 0.625rem 0.625rem 0.625rem 2rem;
}
.button-after-stories:hover {
    cursor: pointer;
    background: #575757;
}
.button-after-stories span {
    margin-top: 0.188rem;
}


@media (max-width: 390px) {
    .body {
        overflow-x: hidden;
    }
    .wallpaper12 {
        width: 100rem;
        height: 100rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        background-position: center;

    }
    .second-section {
        width: 100%;
        height: 100rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        background-position: center;

    }

    .button-after-stories {
        display: flex;

        align-items: center;

    }

}