* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Red Hat Text;
    src: url("../fonts/RedHatText-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: Aleo;
    src: url("../fonts/Aleo-Regular.ttf");
    font-weight: normal;
}

@font-face {

    font-family: Red Hat Text-Semibold;
    src: url("../fonts/RedHatText-Semibold.ttf");
    font-weight: 500;
}

@font-face {
    font-family: Magra;
    src: url("../fonts/Magra-Regular.ttf");
}

@font-face {
    font-family: Magra-Bold;
    src: url("../fonts/Magra-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: Aleo;
    src: url("../fonts/Aleo-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: Aleo-italic;
    src: url("../fonts/Aleo-Bolditalic.ttf");
    font-weight: bold;
}

@font-face {
    font-family: Aleo-italic;
    src: url("../fonts/Aleo-italic.ttf");
    font-weight: normal;
}

body {
    font-family: Red Hat Text, sans-serif;
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    background-color: rgba(242, 120, 92, 0.7);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Добавляем тень (горизонтальное смещение, вертикальное смещение, размытие, цвет) */
    padding: 25px 0 25px 0;
}

.container {

    margin: 0 auto;
}

.header .container {
    display: flex;
    align-items: center;
}

.logo img {
    vertical-align: bottom;
}

.logo {
    margin-left: 120px;
}

.menu {
    margin-left: 158px;

}

.logo-text {
    margin-left: 6px;
    color: #FFF;
    font-size: 32px;
    font-family: Magra-Bold, sans-serif;
    font-weight: bold;
}

.menu ul {
    list-style: none;
    display: flex;
}
.menu {
    height: auto;
    width: auto;
}
.menu-item {

    font-family: Red Hat Text-Semibold, sans-serif;
    margin-right: 42px;
    font-weight: 500;

}

.menu-item a {
    color: #FFF;
    font-size: 16px;
    text-decoration: none;

}

.menu-item a:hover {
    border-bottom: 2px solid white;
}

.button-Menu {

    background-color: #0D606F;
    width: 103px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;

}

.button-Menu-Text {
    color: #FFF;
    font-size: 16px;
    padding: 10px;
    background: #0D606F;
    border: 0;
    border-radius: 10px;
    width: 103px;
    margin-left: 154px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 2px 3px 0 rgba(13, 96, 111, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    transition: background-color .5s;
}

.button-Menu-Text:hover {
    cursor: pointer;
    background: #575757;
}

.rectangle {
    position: absolute;
    top: 416px;
    width: 892px;
    height: 95px;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.70);
}

.button-in-placeholder {
    font-family: Red Hat Text-Semibold, sans-serif;
    font-weight: 500;
    color: #FFF;
    font-size: 24px;
    padding: 10px;
    background: #0D606F;
    border: 0;
    border-radius: 10px;
    width: 228px;
    height: 59px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 2px 3px 0 rgba(13, 96, 111, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    transition: background-color .5s;
    position: absolute;
    top: 434px;
    margin-left: 646px;
}

.button-in-placeholder:hover {
    cursor: pointer;
    background: #575757;
}

.wallpaper12 {
    background: url("../images/wallpaper12sector.jpg") no-repeat;
    background-size: cover;
    height: 765px;
    margin-bottom: 80px;
}

.main-title {
    color: #FFF;
    font-family: Aleo, sans-serif;
    font-size: 80px;
    font-weight: bold;
    line-height: normal;
}

.main-info {
    max-width: 892px;
    margin-top: 32px
}

.main-text {
    position: absolute;
    top: 346px;
    color: #FFF;
    font-family: Aleo-italic, sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    line-height: normal;
}

.text-in-placeholder {
    position: absolute;
    margin-left: 41px;
    top: 448px;
    color: #F2785C;
    font-family: Aleo-italic, sans-serif;
    font-size: 24px;
    font-style: italic;
    font-weight: normal;
    line-height: normal;
}

.steps-container {
    width: 100%; /* Занимаем всю доступную ширину */
    max-width: 1177px;
    height: 247px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
}
.main {
    margin-left: 120px;
}
.steps {
    margin-bottom: 97px;
}
.icon-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;

}

.icon-and-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon-and-text2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon1 {

    margin-left: 30px;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.icon3 {

    margin-left:  32px;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.icon2 {
    margin-left: 65px;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.text-under-icon1 {
    margin-left: 17px;

    margin-top: 30px;
    color: #0D606F;
    font-size: 20px;
    font-family: Aleo,sans-serif;
    font-weight: normal;
    word-wrap: break-word;
    text-align: center;

}
.text-under-icon3 {
    margin-top: 30px;
    color: #0D606F;
    font-size: 20px;
    font-family: Aleo,sans-serif;
    font-weight: normal;
    word-wrap: break-word;
    text-align: center;

}
.text-under-icon2 {
    margin-left: 57px;
    margin-top: 30px;
    color: #0D606F;
    font-size: 20px;
    font-family: Aleo,sans-serif;
    font-weight: normal;
    word-wrap: break-word;
    text-align: center;

}

.second-header{
    color: #F2785C;
    font-size: 40px;
    font-family: Red Hat Text-Semibold,sans-serif;
    font-weight: normal;
    word-wrap: break-word;
    text-align: center;
    margin-bottom: 46px;
}

h2 {
    color: #F2785C;
    font-size: 40px;
    font-family: Red Hat Text-Semibold,sans-serif;
    font-weight: normal;
    word-wrap: break-word;
    text-align: center;
    margin: 0;
}

.carousel {
    width: 100%;
    margin: 0 auto;
    border-radius: 16px;
    background: #FFFFFF;
}

.carousel-cell {
    width: 800px;
    height: 800px;
    margin-right: 60px; /* Небольшое расстояние между слайдами (можете изменить по желанию) */

}
.image{
    position: relative;
    border-radius: 16px; /* Добавляем круглые углы для контейнера с изображением */
    overflow: hidden; /* Скрываем лишнюю часть изображения, которая выходит за контейнер */
}

.city-caption {
    width: 108px;
    height: 42px;
    color: #FFFF;
    font-family: Red Hat Text-Semibold, sans-serif;
    font-size: 32px;
    font-weight: normal;
    position: absolute;
    bottom: 44px;
    left: 16px;
    border-radius: 5px;

}


.arrow-right {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.button-in-placeholder-with-arrow {
    font-family: Red Hat Text-Semibold, sans-serif;
    font-weight: 500;
    color: #FFF;
    font-size: 24px;
    display: flex;
    background: #0D606F;
    border: 0;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 2px 3px 0 rgba(13, 96, 111, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    transition: background-color .5s;
    margin: 97px auto;
    height: 59px;
    width: 228px;
    padding: 10px 10px 10px 32px;
}
.text-in-button-arrow {
    height: 32px;
    width: 116px;
    padding-top: 3px;
}
.button-in-placeholder-with-arrow:hover {
    cursor: pointer;
    background: #575757;
}

.travel-stories-background-image {
    background: url("../images/travel-stories-image.jpg") no-repeat;
    background-size: cover;
    height: 1270px;
    width: 1445px;
    margin-bottom: 80px;
    color: rgba(0, 0, 0, 0.5%);
    margin-top: 40px;
}

.travel-stories-background-image-blank {
    height: 1271px;
    width: 1445px;
    flex-shrink: 0;
    background: rgba(255, 255, 255, 0.70);
    position: absolute;
    top: 2393px;
    margin-top: 40px;
}
.story-image {
    border-radius: 16px;
    margin-left: 120px;
    box-shadow: 0 4px 4px #0D606F;
}

.story-image-container {
    list-style-type: none;
    margin-top: 40px;
}
.story-image-container li {
    padding-bottom: 30px;
}

.travel-stories-background-image-blank {
    display: flex;
}

.title-of-story1 {
    font-family: ;
    font-size: 32px;
    margin-top: 35px;
    margin-left: 40px;
    margin-bottom: 24px;
}
.story1-text {
    margin-left: 40px;
    margin-right: 120px;
    font-size: 20px;

}

